body {
    margin: 0;
    padding: 0;
    background: plum;
    font-family: sans-serif;
}
body h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 46px;
}

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 450px;
    background: lavender;
    box-shadow: 0 20px 30px rgba(.2, 0, 0, .2);
    border-radius: 5px;
    overflow: hidden;
}
.product .imgbox img {
    display: block;
    margin: 5px auto 0;
}

.specifice {
    position: relative;
    width: 100%;
    bottom: 11px;
    background: lavenderblush;
    padding: 5px;
    box-sizing: border-box;
    transition: .5;
}
.product :hover .specifice{
    bottom: 0;
}
.specifice h2 {
    margin: 0;
    padding: 0;
    font-family: verdana;
    width: 100%;
}
specifice h2 span {
    font-size: 16px;
    color: sienna;
    font-weight: normal; 
}

label {
    display: block;
    margin-top: 4px;
    font-weight: bold;
    font-size: 16px;
}

a {
    display: block;
    padding: 5px;
    color: darkslategrey;
    margin: 10px 0 0;
    font-size: large;
    font-weight: bold;
    background: orchid;
    text-align: center;
    cursor: pointer;
}
a:hover {
    background: darkorchid;
}

